.icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.5em;
  gap: 0.75em;
}


@media (max-width: 490px){
  .icon-wrapper {
    margin-top: 1em;
    gap: 5em;
  }
}
